.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/9AC45FAA/sources/prop/4EFA2184
.Rproj.user/9AC45FAA/sources/prop/B0E8571F
.Rproj.user/9AC45FAA/sources/prop/INDEX
.Rproj.user/9AC45FAA/sources/s-1C3AAE2D/314C478E
.Rproj.user/9AC45FAA/sources/s-1C3AAE2D/A2F92E64
.Rproj.user/9AC45FAA/sources/s-1C3AAE2D/A2F92E64-contents
inst/doc
/doc/
/Meta/
